.application-details-container {
    display: grid;
    grid-template-columns: 200px auto; /* Adjust the width of the columns as needed */
    gap: 10px; /* Adjust the gap between rows as needed */
  }
  
  .application-details-container div {
    padding: 5px;
  }
  
  .application-details-container .left {
    font-weight: bold;
  }
  
  .application-details-container .right {
    font-style: italic; /* Adjust font style as needed */
  }
  