/* Header.css */

.color-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 52px;
    background-color: #f7f7f7;
    z-index: 1;
}

.header-container {
  position: relative;
  background-color: #fcfcfc;
  color: #050505;
  display: flex;
  align-items: center;
  height: 16vh;
  }
  
  .header-title {
    margin-right: -160px;
    width: 300px;
    height: 100px;
  }
  
  .header-title p {
    color: #1e7b71;
    text-decoration: none;
    font-weight: normal;
    margin-right: 200px;
    font-size: 30px;
    font-weight:bolder;
    width: 300px;
    height: 40px;
  }

  .header-nav {
    position: relative;
    height: 40px;
    width: 900px;
    margin-left: 175px;
  }

  .header-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .header-nav li {
    display: inline;
  }
  
  .header-nav a {
    text-decoration: none;
    font-weight: normal;
    margin-right: 200px;
    font-size: large;
    padding: 1.5rem;
    color: #218334;
  }
  
  .header-nav ul li {
    display: inline-block;
    margin-right: -202px; /* Add some spacing between nav items */
  }

  .header-nav ul li:last-child {
    margin-left: 50px;
  }
  
  .header-logo {
    max-width: 76px;
    margin-right: 30px;
    margin-left: 100px;
    height: 15vh;
}

.login-btn a {
  display: inline-block;
  padding: 5px 15px; /* Adjust padding as needed */
  border-radius: 20px; /* Make it rounded */
  background-color: #044107; /* Button background color */
  color: #fff; /* Button text color */
}

.login-btn a::after {
  margin-left: 5px; /* Add spacing between text and icon */
}