/* home.css */

.home-container {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
  }
  
  .home-img {
    width: 25%;
    height: 610px;
    margin-bottom: 500px;
    position: relative;
    margin-left: 0;
    margin-right: 1100px;
    margin-top: 140px;
  }
  
  .home-img-container {
    width: auto;
    height:auto;
    position: relative;
  }

  .home-list-container{
    position: relative;
  }